################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookApp/bin/Debug/netcoreapp3.1
/BookApp/obj
